/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

mix-manifest.json
public/css/*.css
public/js/*.js
public/js/*.txt
public/*.js
public/fonts/vendor/monaco-editor/esm/vs/base/browser/ui/codiconLabel/codicon/codicon.ttf

users/*.yaml
package-lock.json
